@font-face {
  font-family: "Scatter ink";
  src: url(/fonts/Scatter\ ink.ttf);
}

:root {
  --primary-color: #22577e;
  --secondary-color: #f7ded0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: #f7ded0;
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
p {
  color: var(--primary-color);
}

h3,
h4 {
  font-family: "Cabin", sans-serif;
}

h1 {
  padding-top: 200px;
  font-family: "Scatter ink", sans-serif;
  font-size: 150px;
}

h2 {
  font-family: "Scatter ink", sans-serif;
  font-size: 80px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 17px;
}

.navbar-nav li {
  padding-left: 30px;
  padding-right: 30px;
}

.intro-art {
  width: 400px;
  display: block;
  margin: 0 auto;
  padding-top: 200px;
  margin-bottom: 120px;
}

a {
  text-decoration: none;
}

.bg-dark {
  background-color: #123249 !important;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 40px;
}

.primary-link {
  background: var(--primary-color);
  padding: 20px 30px;
  color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.primary-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

footer a {
  margin: 30px;
}

i {
  color: var(--primary-color);
  font-size: 30px;
}

.project-button {
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 150px;
}

.about-project {
  margin: 30px 70px;
}

.project-titles {
  font-family: "Scatter ink", sans-serif;
  font-size: 45px;
  margin: 30px 50px;
}

.coding-projects {
  margin: -20px;
}

.coding-apps {
  max-width: 100%;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.artworks {
  display: flex;
  justify-content: center;
}

.digital-art {
  max-width: 30%;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.artworks img {
  margin: 20px;
}

.contact-margin {
  margin-bottom: 230px;
}

h4 a {
  color: var(--primary-color);
}

h4 a:hover {
  color: var(--primary-color);
}
